dtag_rectangle_20241126/
RaspberryPiYoloDataset/
runs/
venv_yolo8_hackathon_sick
venv_sick/*
imgs/
*.csv
.vscode/

/process_logic/__pycache__/*
/process_logic/feature_computation/__pycache__/*
/process_logic/image_acquisition/__pycache__/*
